*.log
*.~lock
**/*.map
out/
node_modules/
.DS_Store
/themes
/ui/
build
dist
user.material-theme.config.json
worktrees/
.pnpm-store/
*.vsix
.temp-icons/
fileicons/icons/
fileicons/icons-mono/
fileicons/matheme-file-icon-theme.json
fileicons/matheme-file-icon-theme-mono.json
