**/*.map
**/*.ts
.cursor/
.eslintrc
.github/
.gitignore
.gitmodules
.gulp/
.pnpm-store/
.vscode-test/
.vscode/**
build/generator/**
build/src/**
community-themes/
dist/
node_modules/
out/
producticons/custom/
fileicons/custom/
scripts/
src/
test/
types/
typings/
vendor/
*.log
package-lock.json
pnpm-lock.yaml
tsconfig.json
vsc-extension-quickstart.md
